<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/kids.css">

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
<% kids.forEach(function(kids){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                   <img src="<%=kids.image%>" class="img-thumbnail">
               <div class="caption">
                   <h3><%=kids.firstname%></h3>   
                   <h4><%=kids.points%> points</h4>   
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>
